<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<footer class="dc-clear pto dcf" th:fragment="zvfooter">
<hr>
<div class="containerall">
 <ul><li class="fulliw"><ul>
<li></li>
 <li><a href="/company/aboutus">About Us</a></li>
 <li><a href="/registerstore">Register Store</a></li>
 <li><a href="/contact">Contact Us</a></li>
<li><a href="/company/termsofuse">Terms of Use</a></li>
<li><a href="/company/privacy">Privacy Policy</a></li>
</ul></li>	

<li class="fulliw"><ul>
<li></li>
  <li><a href="/stores/fashion">Fashion</a></li>
  <li><a href="/stores/food">Food</a></li>
  <li><a href="/stores/electronics">Electronics</a></li>
  <li><a href="/stores/home">Home</a></li>	
  <li><a href="/stores/appliances">Appliances</a></li>	
</ul></li>
<li class="fulliw"><ul>
  <li><a href="/stores/sub/men">Men Fashion</a></li>
  <li><a href="/stores/sub/women">Women Fashion</a></li>
  	<li><a href="/stores/sub/kitchen">Kitchen</a></li>
    <li><a href="/stores/sub/snacks">Snacks</a></li>
    <li><a href="/stores/sub/grocery">Grocery</a></li>  
</ul></li>
<li class="fulliw"><ul>
<li><a href="/stores/sub/grains">Grains</a></li>
<li><a href="/stores/sub/meat">Meat</a></li>
<li><a href="/stores/sub/mobiles">Mobiles</a></li>
<li><a href="/stores/sub/jewellery">Jewellery</a></li>
<li><a href="/stores/sub/shoes">Shoes</a></li>
</ul></li>
<li><ul>
<li></li>
<li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>	
<li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
</ul></li>                    
</ul>
<div class="margtz txtcent"><a href="#">Back to top</a></div><hr/>
<div class="margtz cpr">&copy; 2023 .<br/>This content is copyrighted to filterslist and may not be reproduced anywhere.</div>
</div></footer>

</body>
</html>