<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>about us - filterlist</title>


<th:block th:replace="~{zv/fragments/header :: partheader}"></th:block>
</head>
<body>
<div th:replace="~{zv/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{zv/fragments/navmenu :: headermenu}"></div>
 <main>
<div class="containerall">
<div class="trmcont bxbrd"> 
<div class="mtb" style="height:380px"><section>
<h2>About filterlist</h2>
<p>filterlist’s main aim is to help .....</p>
</section>
</div></div></div></main>
</body><footer th:replace="~{zv/fragments/footer :: zvfooter}"></footer></html>