<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>filterlist - Privacy Policy</title>
<meta name="description" content="Privacy policy of filterlist"/>
<th:block th:replace="~{zv/fragments/header :: partheader}"></th:block>
</head>
<body><div th:replace="~{zv/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{zv/fragments/navmenu :: headermenu}"></div>
<main>
	<div class="containerall">
		<div class="trmcont bxbrd">
			<div class="mtb" style="height:380px">
	<h2>Privacy Policy</h2>
	<p>Any personal information of users that we collect will be kept confidential and will not be shared with anyone. 
	</p>
	<p>Appropriate encryption and security measures are used to protect your personal information against unauthorized access.</p>


	<p>You may contact us for any questions at <a href="/contactus">contact us</a></p>
</div>
</div></div>
</main></body><footer th:replace="~{zv/fragments/footer :: zvfooter}"></footer></html>
