<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Terms of Use - filterlist</title>

<th:block th:replace="~{zv/fragments/header :: partheader}"></th:block>
</head>
<body>
<div th:replace="~{zv/fragments/navmenu :: tobarcmp}"></div>
<div th:replace="~{zv/fragments/navmenu :: headermenu}"></div>
	<main>
	<div class="containerall">
		<div class="trmcont bxbrd">
			<div class="mtb">
				<h2>Terms of Use</h2>
				<p>Below are terms and conditions of the website. By visiting
					the website or using the services offered by filterlist you
					agree that you have read, understood and agreed to the terms of use
					and privacy policy.</p>				
				<p>You may contact us for any questions at
					<a href="/contactus">contact us</a>.</p>
			</div>
		</div>
	</div>
	</main>
</body><footer th:replace="~{zv/fragments/footer :: zvfooter}"></footer>
</html>