<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="elec"> 
           <li>
        <a href="javascript:void(0)">Electronics</a>
        <div style="width: 200px;">
     <ul class="catstr">
<li><ul><li><span><a  href="/stores/electronics">All Electronics</a></span></li>
<li><span><a  href="/stores/sub/mobiles">Mobiles</a></span></li>
<li><span><a  href="/stores/sub/computers">Computers</a></span></li>
</ul></li></ul>
        </div>
      </li></th:block>
</body>
</html>