<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="fashion"> 
     <li>
        <a href="javascript:void(0)">Fashion</a>
        <div style="width: 600px;">
     <ul class="catstr">
<li><ul><li><span><a  href="/stores/fashion">Fashion</a></span></li>
<li><span><a  href="/stores/sub/men">Men</a></span></li>
<li><span><a  href="/stores/sub/women">Women</a></span></li>

</ul></li><li>
<ul>
<li><span><a  href="/stores/sub/kids">Baby & Kids</a></span></li>
<li><span><a  href="/stores/sub/shoes">Shoes</a></span></li>
<li><span><a href="/stores/sub/jewellery">Jewellery</a></span></li>

</ul></li><li>
<ul>
<li><span><a href="/stores/sub/watches">Watches</a></span></li>
<li><span><a href="/stores/sub/sportswear">Sports Wear</a></span></li>
<li><span><a href="/stores/sub/sportsgear">Sports Gear</a></span></li>

</ul>
</li>
</ul>
        </div>
      </li> 
      </th:block>
</body>
</html>