<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="food"> 
     <li>
        <a href="javascript:void(0)">Food</a>
        <div style="width: 400px;">
     <ul class="catstr">
<li><ul><li><span><a  href="/stores/sub/grocery">Grocery</a></span></li>
<li><span><a  href="/stores/sub/snacks">Snacks</a></span></li>
<li><span><a  href="/stores/sub/grains">Grains</a></span></li>
</ul></li><li>
<ul><li><span><a  href="/stores/sub/meat">Meat</a></span></li>
<li><span><a href="/stores/sub/vegetables">Vegetables</a></span></li>
<li><span><a href="/stores/food">Food</a></span></li>

</ul></li>
</ul>
        </div>
      </li> 
      </th:block>
</body>
</html>