<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="home"> 
     <li>
        <a href="javascript:void(0)">Home</a>
        <div style="width: 400px;">
     <ul class="catstr">
<li><ul><li><span><a href="/stores/home">Home All</a></span></li>
<li><span><a  href="/stores/sub/furnishing">Furnishing</a></span></li>
<li><span><a  href="/stores/sub/kitchen">Kitchen</a></span></li>
</ul></li><li>
<ul><li><span><a  href="/stores/sub/furniture">Furniture</a></span></li>
<li><span><a  href="/stores/sub/decor">Decor</a></span></li>
</ul></li>
</ul>
        </div>
      </li> 
      </th:block>
</body>
</html>