<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="Appliances">
<!--/* <div class=""><input id="Home-appliances" name="subca" type="radio" value="Home-appliances" th:checked="${subcategory == 'Home-appliances'}"/>
Home Appliances
</div>
<div class=""><input id="Kitchen-appliances" name="subca" type="radio" value="Kitchen-appliances" th:checked="${subcategory == 'Kitchen-appliances'}"/>
Kitchen Appliances
</div>  */-->
<div class=""><input id="Appliances" name="subca" type="radio" value="Appliances" th:checked="${subcategory == 'Appliances'}"/>
Appliances
</div>
</th:block>
</body>
</html>