@import url(https://fonts.googleapis.com/css?family=PT+Sans);
html {
	font-family:'PT Sans', sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;zoom: 140%;
}
body {
	margin: 0px; background:rgb(225,225,225); -ms-overflow-x: hidden;
}
small {
	font-size: 80%;
}
q {
	quotes: "�" "�" "�" "�";
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor;
}
fieldset {
	margin: 0px 2px 2px 0px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(10, 10, 10);
}
legend {
	padding: 0px; border: 0px currentColor;
}
button {
	margin: 0px; font-family: inherit; font-size: 100%;
}
input {
	margin: 0px; font-family: inherit; font-size: 100%;
}
select {
	margin: 0px; font-family: inherit; font-size: 100%;
}
textarea {
	margin: 0px; font-family: inherit; font-size: 100%;
}
button {
	line-height: normal;
}
input {
	line-height: normal;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-appearance: textfield; -webkit-box-sizing: content-box;
}
textarea {
	overflow: auto; vertical-align: top;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
html {
	font-size: 62.5%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	color: rgb(51, 51, 51); line-height: 1.4285; font-family: 'PT Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px;
}
input {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
button {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
select {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
textarea {
	line-height: inherit; font-family: inherit; font-size: inherit;
}
a {
	color: rgb(0, 0, 0); text-decoration: none;border:none;
}
a:active {
	outline: none; 
}
a:hover {
	outline: none;  color: rgb(60, 60, 60); 
}
a:focus {
	color: rgb(60, 60, 60); outline: none
}
img {
	vertical-align: middle;
}
.img-responsive {
	height: auto; display: block; max-width: 100%;
}
.img-rounded {
	border-radius: 6px;
}
.img-thumbnail {
	padding: 4px; border-radius: 4px; border: 1px solid rgb(221, 221, 221); transition:0.2s ease-in-out; height: auto; line-height: 1.4285; display: inline-block; max-width: 100%; background-color: rgb(255, 255, 255); -webkit-transition: all 0.2s ease-in-out;
}
.img-circle {
	border-radius: 50%;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(130, 130, 130) currentColor currentColor; margin-top: 10px; margin-bottom: 10px;
}
h4 {
	color: inherit; line-height: 1.1; font-weight: 500;
}
h4 small {
	color: rgb(133, 133, 133); line-height: 1; font-weight: normal;
}
h4 {
	margin-top: 10px; margin-bottom: 10px;
}
h4 small {
	font-size: 75%;
}
h4 {
	font-size: 18px;
}
.thumbnail {
	padding: 4px; border-radius: 1px; border: 2px solid rgb(221, 221, 221); transition:0.2s ease-in-out; line-height: 1.4285; margin-bottom: 20px; display: block; background-color: rgb(255, 255, 255); -webkit-transition: all 0.2s ease-in-out;
}
.thumbnail > img {
	margin-right: auto; margin-left: auto; display: block; max-width: 100%;
}
.thumbnail a > img {
	margin-right: auto; margin-left: auto; display: block; max-width: 100%;
}
a.thumbnail {color: rgb(70, 70, 70);}
a.thumbnail > p {overflow:hidden !important;height:3em;margin-left:5px;margin-right:5px;}
a.thumbnail > div.mpge {color: rgb(66, 139, 202); font-weight:bold;text-align: center; margin-bottom:8px;overflow:hidden !important;}
a.thumbnail:hover > div.mpge {
	color: rgb(250, 109, 4);
}
a.thumbnail:focus > div.mpge {
	color: rgb(250, 109, 4);
}
a.active.thumbnail > div.mpge{
	color: rgb(250, 109, 4);
}
a.thumbnail:hover {
	border-color: rgb(66, 139, 202);color: rgb(66, 139, 202);
}
a.thumbnail:focus {
	border-color: rgb(66, 139, 202);color: rgb(66, 139, 202);
}
a.active.thumbnail {
	border-color: rgb(66, 139, 202);color: rgb(66, 139, 202);
}
div.thumbnail:hover {
	border-color: rgb(66, 139, 202);
}
div.thumbnail:focus {
	border-color: rgb(66, 139, 202);
}

.thumbnail .caption {
	padding: 9px; color: rgb(51, 51, 51);
}
.tnd {
	width:100%;overflow: auto;padding: 4px; border-radius: 4px; border: 2px solid rgb(211, 211, 211);border-top-width:5px;border-bottom-width:5px; transition:0.2s ease-in-out; line-height: 1.4285; margin-bottom: 20px; display: block; background-color: rgb(255, 255, 255); -webkit-transition: all 0.2s ease-in-out;
}

.list-unstyled {
	list-style: none; padding-left: 0px;
}
.list-inline {
	list-style: none; padding: 0px;margin-left:0px;margin-right:0px;margin-top:10px;margin-bottom:0px;
}
.list-inline > li {
	display: inline-block;width: 10em;text-align:center;padding: 0px;margin: 0px; 
}
.list-inline > li > a {
	width:auto; display:block;padding: 10px 0px;margin: 0px;  color: rgb(23, 54, 85);
}
.list-inline > li > a:focus {
	border-style:solid;font-weight: bold;border-top-width:5px;border-bottom-width:0px;border-right-width:1px;border-left-width:1px;border-color:rgb(250, 109, 4);
}
.list-inline > li > a:hover {
	border-style:solid;font-weight: bold;border-top-width:5px;border-bottom-width:0px;border-right-width:1px;border-left-width:1px;border-color:rgb(250, 109, 4);
}


.list-inlinea {
	border-style:solid;font-weight: bold;border-top-width:5px;border-bottom-width:0px;border-right-width:1px;border-left-width:1px;border-color:rgb(250, 109, 4);
}
.row {
	margin-right: -15px; margin-left: -15px;
}
.rowright {
	 margin-left: -30px;
}
.row::before {
	display: table; content: " ";
}
.row::after {
	display: table; content: " ";
}
.row::after {
	clear: both;
}
.col-fix {
	padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;float: left;
}
.col-fix1 {
	padding-right: 15px; padding-left: 15px;min-height: 1px;width:94%;
}
.col-fix2 {
	padding: 20px 15px; position: relative; min-height: 1px;float: left;
}
.col-fix7 {
	padding: 10px 10px; position: relative; min-height: 1px;float: left;
}
.col-fixp {
	padding-right: 10px; position: relative; min-height: 1px;float: left;
}
.col-fix3 {
	padding-right: 15px; position: relative; min-height: 1px;float: left;
}
.col-fix3l {
	padding-left: 15px;padding-right: 15px; position: relative; min-height: 1px;float: left;
}
.col-fixl {
	 position: relative; min-height: 1px;float: left;
}
.col-md-2 {
	width: 15.66%;
}
.col-md-3 {
	width: 35.66%;
}
.col-md-4 {
	width: 49.66%;
}
.col-md-5 {
	width: 42.66%;
}
.col-md-6 {
	width: 31.66%;
}
.col-md-6a {
	width: 31.768%;
}
.col-md-7 {
	width: 22.66%;
}
.colprdw {
	width: 23.66%;
}
.col-md-8 {
	width: 18.95%;
}
.col-md-9 {
	width: 18.16%;
}
.col-sm-10 {
	padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;float: left;width: 30%;
}
.col-sm-2 {
	padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;float: left;width: 20%;
}
.col-serc {
	padding-left: 10px; position: relative; float: right;width: 48%;display: block;
}
.prdprcb{padding:20px 10px; margin-right:20px; margin-bottom:20px;text-align: center;position: relative; background:rgb(245,245,235); min-height: 1px;float: left;width: 25%;}
.prdprcbal{display: block;padding-top:10px;text-align: center; position: relative;}
.prfl{position: relative;float:left}
.sertb{width:85%;}
.serb{width:13%;}
.col-sm-3 {
	padding-left: 10px; position: relative; min-height: 1px;float: left;width: 22%;
}
.col-sm-4 {
	padding-left: 15px; position: relative; min-height: 1px;float: left;width: 60%;
}
.col-sm-7 {
	padding-left: 5px;padding-bottom: 10px; position: relative; min-height: 1px;float: left;width: 25%;
}
.col-sm-8 {
	padding-right: 5px; padding-bottom: 10px;position: relative; min-height: 1px;float: right;width: 55%%;
}
label {
	font-weight: bold; margin-bottom: 5px; display: inline-block;
}
.borida{
border-right-style:solid;border-color:rgb(220, 220, 220);border-right-width: 1px;height:100%;
}

.mnuitem-vl{
	border-left:2px solid rgb(17, 99, 33);
}
.mnuitem-vr{
	border-right:2px solid rgb(17, 99, 33);
}

.wbg{
	background-color:rgb(255,255,255);
}
.dc-tithj{
	margin:0px;text-align: center;border-bottom:5px solid rgb(17, 99, 33);
}
.grbrd{border-bottom:5px solid rgb(17, 99, 33);}
.dc-tith{
	margin:0px;background-color:rgb(100,100,100);
}
.dc-tithg{
	margin-bottom: 5px;background-color:rgb(17, 99, 33);
}
.dc-titho{
	margin-bottom: 15px;margin-top: 15px;background-color:rgb(250, 109, 4);
}
.dc-tithtxt{
	padding: 4px 8px;line-height: 30px;font-size: 16px; font-weight:bold;color:rgb(255,255,255);
}
.dc-headlg{
	height: 50px; font-size: 13px;padding-top: 5px;
}

.dc-headmnu{

}
.dc-wh {
	width: 100%;
}
@media only screen and (max-width: 980px) {
.dc-wh {
        width: 980px;
}
}
.dc-fl {
	float: left;
}
.dc-fr {
	float: right;
}
.dc-clear {
	clear: both;
}
.pto {
	padding-top:10px;
}
.dc-rel{
	position: relative;
}

.bxcont{
	background:rgb(255,255,255);display: block;height:300px;color:rgb(15, 36, 62);
}
.bannl{
	padding-right: 0px;width:63%;float:left;display: block;
}
.bannr{
	 float:right;width:36%
}
.bannbtn{
	padding-top:3px;padding-right: 25px; float:right;
}
.bxcpn{
	background:rgb(255, 255, 255);display: block;margin-bottom:10px;
}
.cpnl{
	 width:68%;float:left;display: block;
}
.cpnr{
	width:31%;float:right;display: block;
}
.prdml{
	 width:20%;float:left;display: block;padding:3px 3px;
}
.prdmr{
	width:78%;float:right;display: block;padding:3px 3px;
}
.prdmml{
	 width:32%;float:left;display: block;padding:3px 3px;
}
.prdmmr{
	width:66%;float:right;display: block;padding:3px 3px;
}
.prdcatmp{
	 width:25%;float:left;display: block;
}
.prdl{
	 width:31%;float:left;display: block;padding:10px 5px;
}
.prdrl{
	width:31%; float:right;display: block;padding:10px 2px;
}
.prdr{
	width:32%;float:left;display: block;padding:10px 5px;
}
.cpnbl{
	padding:5px; width:48%;float:left;display: block;
}
.cpnbr{
	padding:5px;width:45%; float:right;display: block;
}
.offrimg{
	height:100px;
}
.stcatl{
	padding:15px 15px; width:70%;float:left;display: block;
}
.stcatr{
	width:25%;float:right;display: block;
}
.nav {
	list-style: none; padding-left: 0px; margin-bottom: 0px;
}
.dc-navbar {
	border: 1px solid transparent; margin-bottom: 10px; 
	border-color: rgb(88, 88, 88); background-color: rgb(125, 125, 125);
}
.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid transparent; text-align: center; line-height: 1.4285; font-size: 14px; 
	font-weight: normal; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; 
	background-image: none; -webkit-user-select: none; -moz-user-select: none;
}
.btnnb {
	padding: 6px 12px; border: 1px solid transparent; text-align: center; line-height: 1.4285; font-size: 14px; 
	font-weight: normal; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; 
	background-image: none; -webkit-user-select: none; -moz-user-select: none;
}
.btn:focus {
	outline: none
}
.btn:hover {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:focus {
	color: rgb(51, 51, 51); text-decoration: none;
}
.btn:active {
	outline: none; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.active.btn {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-deal {
	 color: rgb(255, 255, 255); background-color: rgb(250, 109, 4);
}
.btn-deal:hover {
	 color: rgb(255, 255, 255); background-color: rgb(255, 140, 7);
}
.btn-deal:focus {
	 color: rgb(255, 255, 255); background-color: rgb(255, 140, 7);
}
.btn-deal:active {
	 color: rgb(255, 255, 255); background-color: rgb(255, 140, 7);
}
.active.btn-deal {
	color: rgb(255, 255, 255); background-color: rgb(255, 140, 7);
}
.dcnavbar-nav {
	 margin:0px; float: left;
}
.dcnavbar-nav > li {
	float: left;display: block; position: relative; margin:0px;
}
 
.dcnavbar-nav > li > a {
	line-height: 20px; padding: 20px 15px; display: block; position: relative;
}
.dcnavbar-nav > li > a {
	color: rgb(153, 153, 153);text-decoration: none;
}
.dcnavbar-nav > li > a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.dcnavbar-nav > li > a:focus {
	color: rgb(255, 255, 255); background-color: transparent;  border: none;
}

.containerall {
	margin: 0px auto; width: 60vw; display: table;
}
.containerlogin {
	margin: 0px auto; width: 860px; display: table;
}
.btn-cashb {
	border-color: rgb(53, 126, 189); color: rgb(255, 255, 255); background-color: rgb(23, 54, 85);
}
.btn-cashb:hover {
	color: rgb(255, 255, 255); background-color: rgb(45, 98, 140);
}
.btn-cashb:focus {
	 color: rgb(255, 255, 255); background-color: rgb(45, 98, 140);
}
.btn-cashb:active {
	color: rgb(255, 255, 255); background-color: rgb(45, 98, 140);
}
.active.btn-cashb {
	 color: rgb(255, 255, 255); background-color: rgb(45, 98, 140);
}
.btn-primary {
	color: rgb(255, 255, 255); background-color: rgb(162, 13, 20);
}

.modal-open {
	overflow: hidden;
}
.modal {
	left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: auto; display: none; position: fixed; z-index: 1040; -ms-overflow-y: scroll;
}
.fade.modal .modal-dialog {
	transition:transform 0.3s ease-out; transform: translate(0, -25%); -webkit-transition: -webkit-transform 0.3s ease-out; -webkit-transform: translate(0, -25%); -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out;
}
.in.modal .modal-dialog {
	transform: translate(0, 0); -webkit-transform: translate(0, 0);
}
.modal-dialog {
	margin: 10px; width: auto; position: relative; z-index: 1050;
}
.modal-content {
	border: 1px solid rgba(0, 0, 0, 0.2); position: relative; box-shadow: 0px 3px 9px rgba(0,0,0,0.5); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1030; background-color: rgb(0, 0, 0);
}
.fade.modal-backdrop {
	opacity: 0;
}
.in.modal-backdrop {
	opacity: 0.5;
}
.modal-header {
	 padding:0px;min-height: 21px;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0px; line-height: 1.4285;
}
.modal-body {
	position: relative;
}
.modal-footer {
	padding: 19px 20px 20px; text-align: right; margin-top: 15px; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.modal-footer::before {
	display: table; content: " ";
}
.modal-footer::after {
	display: table; content: " ";
}
.modal-footer::after {
	clear: both;
}
.modal-footer::before {
	display: table; content: " ";
}
.modal-footer::after {
	display: table; content: " ";
}
.modal-footer::after {
	clear: both;
}
.modal-footer .btn + .btn {
	margin-bottom: 0px; margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0px;
}
@media screen and (min-width:768px)
{
.modal-dialog {
	margin: 50px auto; width: 900px;
}
.modal-content {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
}
.close {
	background-color: rgb(0, 0, 0);border:0px; color: rgb(155, 155, 155); line-height: 21px; font-size: 21px; font-weight: bold; float: right; opacity: 0.3;text-decoration: none; 
}
.close:hover {
	text-decoration: none; cursor: pointer; opacity: 0.6;
}
.close:focus {
	 text-decoration: none; cursor: pointer; opacity: 0.6;
}

footer {
	left: 0; bottom: 0; height: auto; width: 100%;background-color: rgb(55,55,55);
}
@media only screen and (max-width: 980px) {
footer {
        width: 980px;
}
}
footer ul {list-style: none;margin:0px;padding-left:0px;padding-top:20px;padding-bottom:20px;}
footer ul li {display: inline-block;vertical-align:top;margin:0px;padding:0px;}
footer ul ul {margin:0px;padding:0px;}
footer ul ul li {display: list-item;margin:0px;padding:0px;}
footer ul ul li span {font-size: 90%;font-weight: bold;color: rgb(200, 200, 200);}
footer ul ul li a {color: rgb(160, 160, 160);font-size: 90%;}
footer ul ul li a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
footer ul ul li a:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.fulliw{width:23%;}
.cpr {text-align:center;color: rgb(123, 123, 123);}
.txtcent {text-align:center;}
.wdtp{width:20%;}
.form-group {
	margin-bottom: 15px;
}
.form-horizontal .control-label {
	padding-top: 17px; margin-top: 0px; margin-bottom: 0px;
}
.form-horizontal .radio {
	padding-top: 7px; margin-top: 0px; margin-bottom: 0px;
}
.form-horizontal .checkbox {
	padding-top: 7px; margin-top: 0px; margin-bottom: 0px;
}
.form-horizontal .radio-inline {
	padding-top: 7px; margin-top: 0px; margin-bottom: 0px;
}
.form-horizontal .checkbox-inline {
	padding-top: 7px; margin-top: 0px; margin-bottom: 0px;
}
.form-horizontal .radio {
	min-height: 27px;
}
.form-horizontal .checkbox {
	min-height: 27px;
}
.form-horizontal .form-group {
	margin-right: -15px; margin-left: -15px;
}
.form-horizontal .form-group::before {
	display: table; content: " ";
}
.form-horizontal .form-group::after {
	display: table; content: " ";
}
.form-horizontal .form-group::after {
	clear: both;
}
.form-horizontal .form-group::before {

	display: table; content: " ";
}
.form-horizontal .form-group::after {
	display: table; content: " ";
}
.form-horizontal .form-group::after {
	clear: both;
}
.form-horizontal .form-control-static {
	padding-top: 7px;
}
@media all and (min-width:768px)
{
.form-horizontal .control-label {
	text-align: right;
}
}
.frmcntnb {
	padding: 6px 12px; border-radius: 0px; border: 1px solid rgb(204, 204, 204); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; width: 100%;  color: rgb(85, 85, 85); line-height: 1.4285; font-size: 14px; vertical-align: middle; display: block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-image: none; background-color: rgb(255, 255, 255); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.frmcntnb:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control {
	padding: 6px 12px; border-radius: 4px; border: 1px solid rgb(204, 204, 204); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; width: 100%;  color: rgb(85, 85, 85); line-height: 1.4285; font-size: 14px; vertical-align: middle; display: block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-image: none; background-color: rgb(255, 255, 255); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.col-xs-2 {
	padding-right: 15px; padding-left: 15px; position: relative; min-height: 1px;
}
.col-sm-offset-2 {
	margin-left: 40.66%; padding: 12px 12px;
}
.bt-fr {
	margin-left: 24%; padding: 12px 12px; 
}
.chk-lm {
	margin-left: 28%;  
}
.bt-acc {
	margin-left: 23%; padding: 12px 12px; 
}
.input-sm {
	padding: 5px 10px; height: 28px;
}
.input-smsb {
	padding: 5px 10px; height: 30px;
}
.lstln {
	list-style: none; padding: 0px;margin:0px;margin-top:5px;margin-bottom:5px;
}
.lstln > li {
	display: inline-block;text-align:center; padding: 1px;margin:0px;font-weight: bold;
}
.lstln > li > a{
	color: rgb(50, 50, 250);font-weight: bold;
}
.lstln > li > a:hover {
	text-decoration: underline;
}
.lstlnp {
	list-style: none; padding: 0px;margin:0px;margin-top:5px;margin-bottom:5px;overflow: hidden !important;text-overflow:ellipsis;white-space:nowrap;
}
.lstlnp > li {
	display: inline-block;text-align:center; padding: 1px;margin:0px;font-weight: bold;
}
.lstlnp > li > a{
	color: rgb(50, 50, 250);font-weight: bold;
}
.lstlnp > li > a:hover {
	text-decoration: underline;
}

.lst-ilna {
	list-style: none; padding: 0px;margin:0px;margin-top:10px;
}
.lst-ilna > li {
	display: inline-block;width: 6.2em;text-align:center; padding: 0px;margin:0px;
}
.lst-ilna > li > a {
	width:auto; display:block;padding: 5px 5px; color: rgb(200, 200, 200);outline: none; border: none;
}
.lst-ilna > li > a:hover {
	padding: 5px 5px;color: rgb(200, 200, 200);
}
.lst-ilna > li > a:focus {
	padding: 5px 5px;color: rgb(200, 200, 200);
}
.txtall{
	color: rgb(120, 120, 120); line-height: 1;padding:0px;padding-left:10px;margin:0px;font-weight: normal; 
}
.txtall > li {
	display:list-item; padding:10px 0px;margin:0px;margin-left:20px;
}
.txtall1{
	color: rgb(140, 140, 140); line-height: 1;padding:0px;margin:0px;padding-left:10px;
}
.txtall1 > li {
	list-style:none;display:list-item; padding:0px; padding-bottom:15px;margin:0px;margin-left:15px;
}
.ordls{
	color: rgb(140, 140, 140); line-height: 1.5;padding:0px;margin:20px;padding-left:10px;
}
.ordls > li {
	display:list-item; padding:0px; padding-bottom:15px;margin:0px;margin-left:15px;
}
.gentxth {
	padding: 14px 4px; font-weight:normal;color: rgb(143, 143, 143);
}
.blutxth {
	padding: 14px 4px; font-weight:strong;color: rgb(15, 36, 62);
}
.myac{
	display: block;padding-top:10px;padding-left:15px;border-bottom: 1px solid rgb(250, 109, 4); 
}
.mtb{	
	margin:20px
}
.mgr{	
	margin-right:20px
}
.mlb{
	margin-left:20px;margin-bottom:20px
}
.mtt{
	margin-top:20px;margin-bottom:20px
}
.ml{
	margin-left:20px;
}
.pr{
	padding-right:20px;
}
.pb{
	padding-bottom:15px;
}
.pbtn{
	padding-bottom:10px;
}
.pt{
	padding-top: 20px;
}
.ptoff{
	padding-top: 50px;padding-bottom:15px;
}
.ptofiv{
	padding-top: 50px;
}
.ptthre{
	padding-top: 30px;
}
.mlf{
	margin-left:5px;
}
.ptbb{padding-bottom:40px;padding-top: 40px;}
.pdal{padding:10px;}
.panel {
	border-radius: 1px; border: 1px solid transparent; margin-bottom: 10px; box-shadow: 0px 1px 1px rgba(0,0,0,0.05); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	border-color: rgb(221, 221, 221);
}
.panel-body {
	padding: 10px;
}
.table {
	width: 100%; margin-bottom: 20px;
}
.table > thead > tr > th {
	padding: 8px; line-height: 1.4285; vertical-align: top; 
}
.table > tbody > tr > td {
	padding: 8px; line-height: 1.4285; vertical-align: top;text-align: center; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.table > thead > tr > th {
	vertical-align: bottom; border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;
}
.gtxth tr {border-bottom-color: rgb(221, 221, 221); border-bottom-width: 2px; border-bottom-style: solid;}
.panel-default {
	border-color: rgb(221, 221, 221);
}
.panel-default > .panel-heading {
	border-color: rgb(221, 221, 221); color: rgb(51, 51, 51); background-color: rgb(245, 245, 245);
}
.pdlf{padding-left: 5px;}
.dberror{color: rgb(169, 68, 66);}
.dbsucc{color: rgb(60, 118, 61);}
.gtxt{color: rgb(17, 99, 33);font-weight: bold;}
.btxt{color: rgb(23, 54, 85);font-weight: bold;}
.gtxth{color: rgb(17, 99, 33);font-weight: bold;font-size: 26px;}
.btxth{color: rgb(23, 54, 85);font-weight: bold;font-size: 32px;}

.text-center {
	text-align: center;
}
.ndiscen{display:none;text-align: center;}
.cpncb {
	margin-top:90px;text-align: center;
}
.bxbrd {
	border: 1px solid transparent;box-shadow: 0px 1px 1px rgba(0,0,0,0.05);-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);border-color: rgb(200, 200, 200);	
}
.trmcont{
	background:rgb(255,255,255);display: block;width:100%;color:rgb(15, 36, 62);
}
 .ullin{
	color: rgb(66, 139, 202);text-decoration: underline; border:none;
 }
.catstr {
	list-style: none;margin:0px;padding:0px;padding-bottom:20px;
}
.catstr > li {display: inline-block; margin:0px;padding:0px;width:180px;vertical-align:top;}
.catstr > li > ul {margin:0px;padding:0px;padding-left:15px;padding-top:10px;list-style: none;}
.catstr > li > ul > li {font-size: 90%;display: list-item;margin:0px;padding:2px;}
.catstr > li > ul > li > span {font-weight: bold;color: rgb(250, 109, 4);}
.catstr > li > ul > li > span > a {font-weight: bold;color: rgb(250, 109, 4);}
.catstr > li > ul > li > a {color: rgb(100, 100, 100);}
.catstr > li > ul > li > span > a:hover {
	background-color: transparent;text-decoration: underline;
}
.catstr > li > ul > li > span > a:focus {
	background-color: transparent;text-decoration: underline;
}
.catstr > li > ul > li > a:hover {
	color: rgb(50, 50, 50); background-color: transparent;text-decoration: underline;
}
.catstr > li > ul > li > a:focus {
	color: rgb(50, 50, 50);background-color: transparent;text-decoration: underline;
}
.linel{
	clear: both;display: inline-block;color: rgb(200, 200, 200); padding:0px;margin:0px;padding-top:5px;padding-bottom:5px;  
}
.linel > span {font-size: 90%;font-weight: bold;padding-right:5px;color: rgb(200, 200, 200);}
.linel > li {
	padding:0px;margin:0px;padding-right:2px;color: rgb(200, 200, 200);
}
.linel > li > a {color: rgb(160, 160, 160);font-size: 90%;}
.linel > li > a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.linel > li > a:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.azdiv{
	font-size: 80%; margin: 20px 0px 20px 10px;
}
.azdiv > a {
	color: rgb(71, 124, 243);padding-right:4px;
}
.strlnkn{color: rgb(40, 160, 200); font-size: 105%;font-weight: normal;}
.strlnkn a {color: rgb(40, 160, 200);display: block;}
.strlnkn a:hover {color: rgb(40, 160, 200);text-decoration: underline;}
.lubx{padding: 10px}
.prdt{color: rgb(80, 80, 80);  font-size: 120%;font-weight: bold;}
.prdtsh{color: rgb(80, 80, 80);  font-size: 120%;font-weight: bold;}
.lutxt{color: rgb(80, 80, 80);  font-size: 85%;font-weight: normal;}
.lutxt a {padding-top: 8px;color: rgb(250, 109, 4);}
.luhd{color: rgb(250, 109, 4); line-height: 1.2; font-weight: bold;padding-bottom: 8px;padding-top: 12px}
.oftl{color: rgb(80, 80, 80); font-size: 110%;font-weight: normal;}
.smlbltxt{color: rgb(40, 160, 200); font-size: 75%;font-weight: normal;}
.oftbl{color: rgb(40, 160, 200); font-size: 120%;font-weight: normal;}
.oftbl a {color: rgb(40, 160, 200);}
.oftbl a:hover {color: rgb(40, 160, 200);text-decoration: underline;}
.bllnk {color: rgb(40, 160, 200);}
.bllnk:hover {color: rgb(40, 160, 200);text-decoration: underline;}
.ofts{color: rgb(23, 54, 85);  font-size: 90%;font-weight: bold;}
.oftr{color: rgb(169, 68, 66); font-size: 90%;font-weight: normal;}
.oftg{color: rgb(17, 99, 33); font-size: 90%;font-weight: normal;}
.discg{color: rgb(17, 99, 33); font-size: 120%;font-weight: bold;}
.bdb{border-style: dashed;border-width:1px;padding:5px;}
.bdbp{border-style: dashed;border-width:3px;padding:15px;font-size: 42px;font-weight: bold;}
.btxtn{color: rgb(80, 80, 80);  font-size: 90%;font-weight: normal;}
.btxtog{color: rgb(250, 109, 4);  font-size: 90%;font-weight: normal;}
.lnhgh{overflow:hidden !important;height: 4em;}
.backtotop{
	background: transparent;
	font-weight: bold;
	color: rgb(250, 109, 4);
	text-decoration: none;
	position:fixed;
	bottom:95px;
	right:40px;
	display:none;
	z-index: 910;
}
.backtotop:hover{
	color: rgb(255, 140, 7);
}
.nvfixtp {
	left: 0px; top: 0px; position: fixed; z-index: 930;width: 100%;
}
@media only screen and (max-width: 980px) {
.nvfixtp {
        width: 980px;
}
}
.coptxt{
	padding: 15px;line-height: 20px;font-size: 14px;color:rgb(255,255,255);
}
.coptxt:hover {
	outline: none;  color:rgb(235,235,235);
}
.coptxt:focus {
	color:rgb(255,255,255); outline: none
}
.subscrit{
	width:50%;float:left;padding-bottom:20px;
}
.subscrib{
	width:15%;float:left;padding-bottom:20px;
}
.tobopd{padding-top: 10px;padding-bottom: 10px;}
.bgcllg{background-color: rgb(33,163,88);}
.bgcllr{background-color: rgb(223,54,80);}
.bgcllb{background-color: rgb(52,92,142);}
.bgclmb{background-color: rgb(103,67,112);}
.bgclmr{background-color: rgb(159,100,42);}
.bgclmg{background-color: rgb(51,87,84);}
.bgclsr{background-color: rgb(65,89,49);}
.bgclsg{background-color: rgb(79,81,113);}
.btlnh{line-height: 28px;}
.stols {
	list-style: none; padding: 0px;margin:0px;margin-left:40px
}
.stols > li {
	display: inline-block;width: 16em; padding: 0px;margin:0px;
}
.stols > li > a {
	width:auto; display:block;padding: 0px;padding-bottom: 8px; color: rgb(52,92,142);outline: none; border: none;
}
.stols > li > a:hover {
	text-decoration: underline;
}
.logo3 {font-size: 32px; color: rgb(24, 154, 216);font-weight: bold;}
ul.megamenu {
  background-color: inherit;
  margin: 0px auto;
  padding:0px;padding-top:5px;padding-bottom:5px;
  list-style: none;
  display: none;
}

ul.megamenu li.mm-item {
}

ul.megamenu li {
  margin: 0px;
  padding: 0px;
}

ul.megamenu li.clear-fix {
  float: none;
  clear: both;
  margin: 0px;
  padding: 0px;
  height: 0px;
  font-size: 0px;
  line-height: 0px;
}

ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
  position: relative;
  display: inline-block;
  color: #FFF;
  padding: 8px 15px;
  margin: 0px 3px 0px 0px;
  text-decoration: none;
  z-index: 10;
  font-size: 14px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
*html ul.megamenu a.mm-item-link:link, *html ul.megamenu a.mm-item-link:visited {
  border-color: blue;
  filter: chroma(color=blue);
}

ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
  color: #444;
  background: #FFF;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
}

ul.megamenu div.mm-item-content {
  background: #FFF;
  padding: 0px;
  position: absolute;
  border: 1px solid #777;
  z-index: 9;
}

.mm-content-base {
  background: #FFF;
  position: relative;
  z-index: 11;
  padding: 10px;
}
.mm-js-shadow {
  background: #555;
  position: absolute;
  z-index: 10;
}
.cntfix{position: relative;top: 0px;}
.tblecmp {
    border: solid 1px #DEDEFA;
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
.tblecmp thead th {
    background-color: #DEDEFA;
    border: solid 1px #DEDEFA;
    color: #333;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.tblecmp tbody td {
    border: solid 1px #DEDEFA;
    color: #333;
    padding: 10px;
    text-align: left;
}
.tblecmp-horiz tbody tr td {
    border-left: none;
    border-right: none;
}
.prhed{border: solid 1px #DEDEFA;padding: 10px;text-align: left;}
.prdtit{padding-top:40px;border-bottom:5px solid rgb(162, 13, 20);font-weight: bold;font-size: 18px;}
.prdhd{color: rgb(80, 80, 80); font-size: 120%;font-weight: bold;}
.prdflbx{height: 150px; padding-top:10px;padding-bottom:10px;font-size: 100%;font-weight: 500;line-height: 2;}
.filtitm{min-height: 20px;padding-top: 7px;padding-right: 2px; margin-top: 0px; margin-bottom: 0px;}

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;

}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
.nano {height: 150px;}
.nano .nano-content { padding-top:10px;padding-bottom:10px;font-size: 100%;font-weight: 500;line-height: 2;}
.nano .nano-pane   { background: #DFDFDF; }
.nano .nano-slider { background: #757575; }
.srtbx{padding-top: 5px;padding-bottom: 5px;}
.srtdvlbl {float: left;padding-right:40px;}
.srtdv {float: left;margin-right:20px;cursor: pointer;}
.srtdvs {color: rgb(223,54,80);border-bottom: 2px solid rgb(223,54,80);}
.mtb > table {margin:0px;padding:0px;}
.mtb > table > tbody > tr > td {padding: 25px;width: 20%;text-align:center;border: 1px solid rgb(190,190,190);}
.mpbrnd {margin:0px;padding:0px;}
.mpbrnd > tbody > tr > td {padding: 20px 5px;width: 20%;text-align:center;border: 1px solid rgb(230,230,230);}
.tppril{font-size: 90%;font-weight: normal;padding-top:4px;padding-bottom:4px;}
.tppril a {color: rgb(40, 160, 200);}
.tppril a:hover {
	text-decoration: underline;
}
.socia {
	font-size: 1px;
}
.socia iframe {
	vertical-align: middle;
}
.socia span {
	display: inline-block;
	width: 110px;
}
.socia .gpl {
	width: 75px;
}
.socialgn {padding-top: 20px;padding-left: 20px;width:65%;}

.lnmidtxt {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}
.lnmidtxt>span {
	position: relative;
	display: inline-block;
}
.lnmidtxt>span:before, .lnmidtxt>span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
	background: rgb(190, 190, 190);
}
.lnmidtxt>span:before {
	right: 100%;
	margin-right: 15px;
}
.lnmidtxt>span:after {
	left: 100%;
	margin-left: 15px;
}

.btn-block{display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:hover,.btn-google:focus,.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0')
		format('embedded-opentype'),
		url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
		url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
		url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
		url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular')
		format('svg');
	font-weight: normal;
	font-style: normal
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0)
}
.fa-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%
}
.fa-2x {
	font-size: 2em
}
.fa-3x {
	font-size: 3em
}
.fa-4x {
	font-size: 4em
}
.fa-5x {
	font-size: 5em
}
.fa-fw {
	width: 1.28571429em;
	text-align: center
}
.fa-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none
}
.fa-ul>li {
	position: relative
}
.fa-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: .14285714em;
	text-align: center
}
.fa-li.fa-lg {
	left: -1.85714286em
}
.fa-border {
	padding: .2em .25em .15em;
	border: solid .08em #eee;
	border-radius: .1em
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
.fa.pull-left {
	margin-right: .3em
}
.fa.pull-right {
	margin-left: .3em
}
.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear
}
.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8)
}

@
-webkit-keyframes fa-spin { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(359deg)
;transform
:rotate(359deg)
}
}
@
keyframes fa-spin { 0%{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg)
}

100%{
-webkit-transform
:rotate(359deg)
;transform
:rotate(359deg)
}
}
.fa-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}
.fa-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}
.fa-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg)
}
.fa-flip-horizontal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1)
}
.fa-flip-vertical {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1)
}
:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal,
	:root .fa-flip-vertical {
	filter: none
}
.fa-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle
}
.fa-stack-1x, .fa-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center
}
.fa-stack-1x {
	line-height: inherit
}
.fa-stack-2x {
	font-size: 2em
}
.fa-inverse {
	color: #fff
}
.fa-arrow-circle-up:before {
	content: "\f0aa"
}
.fa-facebook-f:before, .fa-facebook:before {
	content: "\f09a"
}
.fa-google-plus:before {
	content: "\f0d5"
}
.fa-twitter:before {
	content: "\f099"
}
.fa-pinterest:before {
	content: "\f0d2"
}
.fa-pinterest-square:before {
	content: "\f0d3"
}
.fa-google-plus-square:before {
	content: "\f0d4"
}
.fa-facebook-square:before {
	content: "\f082"
}
.fa-twitter-square:before {
	content: "\f081"
}
.fa-refresh:before {
	content: "\f021"
}
.fa-angle-right:before {
	content: "\f105"
}
